.form-images-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  width: 100%;
  grid-auto-rows: 1fr;
  margin: auto;
  margin-bottom: 20px;
}

.form-image-wrapper {
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

.form-image {
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.03);
}

.image-delete-btn {
  color: var(--extra-light);
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.create-art-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.create-art-input {
  margin-top: 30px;
}

.description-input {
  margin-top: 0;
}

.no-images-error {
  color: var(--error);
  margin-bottom: 10px;
}

.post-art-btn:before,
.my-location-btn:after,
.address-btn:after {
  content: ' ';
  display: block;
  height: 1px;
  background-color: var(--dark);
  margin: 20px auto;
  width: 100px;
}

.my-location-message,
.current-location-display,
.current-location-map {
  margin: 30px 0;
}

.current-location-map {
  width: 300px;
  height: 300px;
}

.modal-message {
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.success-message {
  color: var(--success);
}

.error-message {
  color: var(--error);
}

.btn-icon {
  padding-left: 3px;
}

@media (min-width: 640px) {
  .form-images-container {
    width: 95%;
  }
  .form-image-wrapper {
    height: 35vh;
  }
}

@media (min-width: 768px) {
  .form-images-container {
    width: 90%;
  }
  .form-image-wrapper {
    height: 40vh;
  }
}

@media (min-width: 880px) {
  .form-images-container {
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .form-images-container {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .form-images-container {
    width: 75%;
  }
}
