.form-images-container {
  display: grid;
  margin-bottom: 20px;
  grid-template: auto / repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(2, 1fr));
  grid-auto-rows: 1fr;
}

.form-image-wrapper {
  position: relative;
  border-radius: 7px;
  height: 180px;
}

.image-delete-btn {
  color: var(--extra-light);
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.03);
}

.create-art-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.create-art-input {
  margin-top: 30px;
}

.description-input {
  margin-top: 0;
}

.no-images-error {
  color: var(--error);
  margin-bottom: 10px;
}

.post-art-btn:before,
.my-location-btn:after,
.address-btn:after {
  content: ' ';
  display: block;
  height: 1px;
  background-color: var(--dark);
  margin: 20px auto;
  width: 100px;
}

.my-location-message,
.current-location-display,
.current-location-map {
  margin: 30px 0;
}

.current-location-map {
  width: 300px;
  height: 300px;
}

.modal-message {
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.success-message {
  color: var(--success);
}

.error-message {
  color: var(--error);
}
