.markers-map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.react-map-container {
  position: relative;
}

.toggle-maps-btn {
  position: absolute;
  z-index: 9;
  font-size: 4rem;
  color: var(--medium-dark);
  cursor: pointer;
}

.route {
  font-size: 1.4rem;
}

.popup {
  pointer-events: none;
}

.toggle-maps-btn {
  position: absolute;
  left: 5%;
  top: 15%;
}

.navigation-control {
  display: inline-block;
  margin: auto;
  position: absolute;
  right: 3%;
  bottom: 15%;
}

.my-location-icon {
  font-size: 2.5rem;
  color: var(--urgent);
}

.art-location-icon {
  font-size: 2.5rem;
  color: var(--accent-dark);
}

.map-image-carousel-container {
  width: 200px;
  height: 200px;
}

.map-art-details-container {
  padding: 10px;
  padding-bottom: 0;
}

.map-artist-name {
  text-align: left;
  font-size: 1.2rem;
  padding: 0 10px;
}

.map-art-icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 10px;
}

.map-art-icon {
  color: var(--medium-dark);
  font-size: 3rem;
  padding: 10px;
}

.mapboxgl-popup-close-button {
  z-index: 10;
  font-size: 4rem;
  color: var(--extra-light);
  line-height: 0.5;
  padding: 10px;
}
