.markers-map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.react-map-container {
  position: relative;
}

.route {
  font-size: 1.4rem;
}

.popup {
  pointer-events: none;
}

.navigation-control {
  display: inline-block;
  margin: auto;
  position: absolute;
  right: 3%;
  bottom: 15%;
}

.geolocation-control {
  display: inline-block;
  margin: auto;
  position: absolute;
  right: 3%;
  bottom: 30%;
}

.my-location-icon {
  color: var(--urgent);
  font-size: 2.5rem;
}

.art-location-icon {
  font-size: 2.5rem;
  color: var(--dark);
  position: absolute;
  top: -30px;
  z-index: 1;
}

.map-image-carousel-container {
  width: 200px;
  height: 200px;
}

.painting-card-carousel-container {
  width: 50px;
  height: 50px;
}

.map-art-details-container {
  padding: 10px;
  padding-bottom: 0;
}

.map-artist-name {
  text-align: left;
  font-size: 1.2rem;
  padding: 0 10px;
}

.map-art-icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 10px;
}

.map-art-icon {
  color: var(--medium-dark);
  font-size: 3rem;
  padding: 10px;
}

.mapboxgl-popup-close-button {
  z-index: 9;
  font-size: 4rem;
  color: var(--extra-light);
  line-height: 0.5;
  padding: 10px;
}

.map-pin-wrapper {
  position: relative;
}

.art-location-top-icon {
  position: absolute;
  font-size: 1.3rem;
  left: 9.5px;
  bottom: 0.5px;
  color: var(--extra-light);
  z-index: 2;
}

.art-location-top-check-icon {
  position: absolute;
  font-size: 0.8rem;
  left: 14px;
  bottom: 5px;
  color: var(--extra-dark);
  z-index: 3;
}
