.profile-container {
  width: 88vw;
  min-height: 80vh;
  height: auto;
  padding: 8vh 0;
  margin: auto;
}

.user-details-container {
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light);
}

.user-profile-image {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 2vh;
}

.user-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  width: 50vw;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding-left: 5vh;
}

.user-image-count {
  font-size: 1rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

.all-button:hover,
.saved-button:hover,
.all-button:active,
.saved-button:active,
.all-button:focus,
.saved-button:focus {
  box-shadow: 0 0 3px 3px var(--medium);
  transform: scale(1.05);
  transition: transform 0.3s;
  opacity: 0.8;
}

.art-tile {
  width: auto;
  object-fit: cover;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.03);
}

.art-icon {
  font-size: 2.5rem;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  grid-auto-rows: 1fr;
}

.art-tile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.03);
}

@media (min-width: 640px) {
  .profile-container {
    width: 85vw;
  }
}

@media (min-width: 768px) {
  .profile-container {
    width: 80vw;
  }
  .photo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 880px) {
  .profile-container {
    width: 75vw;
  }
  .photo-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .profile-container {
    width: 70vw;
  }
}

@media (min-width: 1280px) {
  .profile-container {
    width: 65vw;
  }
}
