.painting-card-container {
  width: 88vw;
  min-height: 80vh;
  height: auto;
  padding: 10vh 0;
  margin: auto;
}

.painting-card-map-container {
  height: 50vh;
  width: 100%;
}

@media (min-width: 640px) {
  .painting-card-container {
    width: 85vw;
  }
}

@media (min-width: 768px) {
  .painting-card-container {
    width: 80vw;
  }
}

@media (min-width: 880px) {
  .painting-card-container {
    width: 75vw;
  }
}

@media (min-width: 1024px) {
  .painting-card-container {
    width: 70vw;
  }
}

@media (min-width: 1280px) {
  .painting-card-container {
    width: 65vw;
  }
}
