.camera-container {
  width: 88vw;
  min-height: 80vh;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
}

.form-container {
  width: 88vw;
  margin: auto;
  padding: 10vh 0 15vh;
}
