.login-page {
  background-color: var(--medium);
  height: 100vh;
  display: flex;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/ds6dxgvxo/image/upload/v1600186304/Screen_Shot_2020-09-15_at_10.10.19_ld3ejz.png');
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 88vw;
  min-height: 80vh;
  height: auto;
  margin: 10vh auto;
  border-radius: 7px;
  background-color: var(--extra-light);
  opacity: 0.8;
}

.login-title {
  font-size: 4vh;
}

.user-validation {
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 640px) {
  .login-container {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .login-container {
    width: 70vw;
  }
}

@media (min-width: 880px) {
  .login-container {
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  .login-container {
    width: 50vw;
  }
}

@media (min-width: 1280px) {
  .login-container {
    width: 40vw;
  }
}

.credentials-error {
  color: var(--error);
}
