.explore-container {
  width: 88vw;
  min-height: 80vh;
  height: auto;
  padding: 10vh 0;
  margin: auto;
}

.slick-track {
  margin: 0;
  padding: 0;
  width: auto;
}

@media (min-width: 640px) {
  .explore-container {
    width: 85vw;
  }
}

@media (min-width: 768px) {
  .explore-container {
    width: 80vw;
  }
}

@media (min-width: 880px) {
  .explore-container {
    width: 75vw;
  }
}

@media (min-width: 1024px) {
  .explore-container {
    width: 70vw;
  }
}

@media (min-width: 1280px) {
  .explore-container {
    width: 65vw;
  }
}
