input {
  outline: none;
  padding-top: 0.8em;
  padding-bottom: 0.4em;
  font-size: 1em;
  border-radius: 1vh;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid grey;
  width: 250px;
  font-size: 20px;
}
input:hover {
  border-bottom: 1px solid grey;
}
input:active {
  border-bottom: 1px solid grey;
}
