input,
textarea {
  outline: none;
  padding: 10px;
  font-size: 1em;
  border-radius: 1vh;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid grey;
  width: 300px;
  font-size: 20px;
}
textarea:hover,
input:hover {
  border-bottom: 1px solid grey;
}
textarea:active,
input:active {
  border-bottom: 1px solid grey;
}

textarea {
  resize: none;
}

.input-error-wrapper {
  position: relative;
}

.input-error-message {
  position: absolute;
  color: var(--error);
}

.form-label {
  opacity: 0;
  position: absolute;
}
