@import '../../variables.css';

footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--extra-light);
  z-index: 998;
  opacity: 0.9;
}

.nav-box {
  width: 25vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  font-size: 2rem;
  color: var(--medium-dark);
}

.nav-text {
  color: var(--medium-dark);
}

.nav-link {
  text-decoration: none;
}
