@import '../../variables.css';

.nav-box {
  width: 25vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  font-size: 2rem;
  color: var(--medium-dark);
}

.nav-text {
  color: var(--medium-dark);
}

.nav-link {
  text-decoration: none;
}

.footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2vh;
  font-size: 3vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  background-color: var(--extra-light);
  opacity: 0.96;
  transform: translateY(0);
  transition: transform 0.3s ease;
  justify-content: space-between;
  text-align: center;
  z-index: 8;
}

.title {
  margin: 0 auto;
  font-size: 1.6rem;
}

.footer.shadow {
  box-shadow: 0 9px 9px 9px rgba(0, 0, 0, 0.13);
}

.footer.hidden {
  transform: translateY(110%);
}
