.video-camera-container {
  position: relative;
  background-color: var(--dark);
  height: 58vh;
}

.video-camera-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
}

.capture-btn {
  position: absolute;
  bottom: 10px;
  color: var(--extra-light);
  font-size: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
